<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <a href="/create">Add</a>
  <ul>
    <% documents.forEach(function(document){ %>
      <li>
        <b>
          <%= document.title %>
        </b>
        <br>
        <%= document.body %>
      </li>
      <br>
      <% }); %>
  </ul>
</body>

</html>